body{
	width:100%;
	min-height:100vh;
	margin-left:10px;
	padding:0;
	font-family:'Roboto',sans-serif;
	font-style:normal;
	font-weight:300;
}
h1{
	width:100%;
	margin:0;
	padding:25px;
	background-color: #f7b817;
}

h2,h3{
	margin:25px 40px;
	padding: 10px 0px 10px 25px;
}

p{
	font-family: 'Times-New-Roman';
	width:900px;
	font-size: 18px;
	margin: 20px auto;
	padding-top: 20px;
}

/*-----EJERCICIO I----*/
.exampleI{
	margin:0px auto 20px 50px;
	display:block;
	position: relative;
}

.exampleI #boxI2 { 
	bottom: 0; 
	left: 0; 
	right: 0; 
	background: #f95b34; 
	padding: 10px 0; 	
	position: fixed;
}

		

/*----BOTONES---*/

.btn {
  background: #f7b817;
  background-image: -webkit-linear-gradient(top, #f7b817, #f7b750);
  background-image: -moz-linear-gradient(top, #f7b817, #f7b750);
  background-image: -ms-linear-gradient(top, #f7b817, #f7b750);
  background-image: -o-linear-gradient(top, #f7b817, #f7b750);
  background-image: linear-gradient(to bottom, #f7b817, #f7b750);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: inline-block;
  margin-top: 40px;
  margin-left: 80%;
  margin-bottom: 120px;
}

.btn:hover {
  background: #ffa507;
  color:#000;
  font-weight: 700;
  text-decoration: none;
}

