<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width-device, initial=scale=1.0">
	<title>SPRINT 02 - EJERCICIOS PRÁCTICOS - POSICIONANDO CAJAS</title>
	<link href="../css/cuadros.css" rel="stylesheet" type="text/css">
</head>
<body>
	<h1>POSICIONANDO CAJAS</h1>
		<div class="boxes-section">
				<div class='boxes1'>
					<div class='box-red'>
						<div class='box-purple'>
							<div class='box-yellow'>
							</div>
						</div>
					</div>		    
				</div>
				<div class='boxes2'>
					<div class='box-blue'>
						<div class='box-black'>
						</div>
					</div>
					<div class='box-green'>
				</div>   
			</div>
		</div>
	<script type="text/javascript" src="app.js"></script>
</body>
</html>