<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width-device, initial=scale=1.0">
	<title>SPRINT 02 - EJERCICIOS PRÁCTICOS- POSITIONING 101 EJEMPLO G</title>
	<link href="../css/ejemploG.css" rel="stylesheet" type="text/css">
</head>
<body>
	<h1> POSITIONING 101 - EJEMPLO G</h1>
		<div class="exampleG">
			<div id="boxG1"></div>				
			<div id="boxG2"></div>
		</div>
		<a href="positioning101.html" target="_blank" class='btn'>Positioning 101</a>	
</body>
</html>

