<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width-device, initial=scale=1.0">
	<title>SPRINT 02 - EJERCICIOS PRÁCTICOS- POSITIONING 101 EJEMPLO B</title>
	<link href="../css/ejemploB.css" rel="stylesheet" type="text/css">
</head>
<body>
	<h1> POSITIONING 101 - EJEMPLO B</h1>
	<div class="exampleB">
		<h2>Ejemplo B</h2>
			<div class="boxB" id="boxB1"></div>
			<div class="boxB" id="boxB2"></div>
			<div class="boxB" id="boxB3"></div>
	</div>	


		<a href="positioning101.html" target="_blank" class='btn'>Positioning 101</a>	
</body>
</html>

