<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width-device, initial=scale=1.0">
	<title>SPRINT 02 - EJERCICIOS PRÁCTICOS- POSITIONING 101 EJEMPLO A</title>
	<link href="../css/ejemploA.css" rel="stylesheet" type="text/css">
</head>
<body>
	<h1> POSITIONING 101 - EJEMPLO A</h1>
	<div class="exampleA">
		<h2>Ejemplo A</h2>
		<div id="boxA1"></div>
		<div id="boxA2"></div>
		<div id="boxA3"></div>
	</div>


		<a href="positioning101.html" target="_blank" class='btn'>Positioning 101</a>	
</body>
</html>

