<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width-device, initial=scale=1.0">
	<title>SPRINT 02 - EJERCICIOS PRÁCTICOS- POSITIONING 101 EJEMPLO H3</title>
	<link href="../css/ejemploH3.css" rel="stylesheet" type="text/css">
</head>
<body>
	<h1> POSITIONING 101 - EJEMPLO H3</h1>
	<div class="exampleH3">
			<div id="boxH3A"></div>				
			<div id="boxH3B"></div>
	</div>
		<a href=".positioning101.html" target="_blank" class='btn'>Positioning 101</a>	
</body>
</html>

