<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width-device, initial=scale=1.0">
	<title>SPRINT 02 - EJERCICIOS PRÁCTICOS- POSITIONING 101 EJEMPLO D</title>
	<link href="../css/ejemploD.css" rel="stylesheet" type="text/css">
</head>
<body>
	<h1> POSITIONING 101 - EJEMPLO D</h1>
	<div class="exampleD">
		<h2>Ejemplo D</h2>
			<div id="boxD1"></div>
			<div id="boxD2"></div>
			<div id="boxD3"></div>
	</div>


		<a href="positioning101.html" target="_blank" class='btn'>Positioning 101</a>	
</body>
</html>

