<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width-device, initial=scale=1.0">
	<title>SPRINT 02 - EJERCICIOS PRÁCTICOS - MENU HORIZONTAL</title>
	<link href="../css/horizontal.css" rel="stylesheet" type="text/css">
</head>
<body>
	<h1>MENU HORIZONTAL</h1>
		<nav id="menu-space">
		<ul>
			<li><a href="http://laboratoria.la/" target="_blank">Inicio</a></li>
			<li><a href="#">Sobre mí</a></li>
			<li><a href="#">Portafolio</a></li>
			<li><a href="#">Contacto</a></li>
		</ul>
	</nav>

</body>
</html>