<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width-device, initial=scale=1.0">
	<title>SPRINT 02 - EJERCICIOS PRÁCTICOS - TIPOGRAFÍAS E ÍCONOS</title>
	<link rel="stylesheet" type="text/css" href="../css/vendors/font-awesome.css">
	<link href="../css/menu.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Slabo+27px" rel="stylesheet"
</head>
<body>
	<h1>TIPOGRAFÍAS E ÍCONOS</h1>
	<nav>
		<ul class="menu">
			<li class="menu-card">
				<a href="#" class="icoMenu" title="Plane">
		        <i class="fa fa-plane" aria-hidden="true"></i>
		        </a>
				<p class="menu-title" id="plane">Un avión de papel</p class="menu-title">
				<p class="subtitle">Perfecto</p>
				<p class="description">Cuando todo parece ir en contra de usted, recuerde que el avión despega con el viento en contra, no a favor.</p>
			</li>
			<li class="menu-card" id="ruby">
				<a href="#" class="icoMenu" title="Ruby">
		        <i class="fa fa-plane" aria-hidden="true"></i>
		        </a>
				<p class="menu-title">¿Conoces Ruby?</p class="menu-title">
				<p class="subtitle">Lenguaje de Programación</p>
				<p class="description">Sus fanáticos lo tienen como un lenguaje hermoso y artístico. Y todavía sí, dicen que es práctico y ameno.</p>
			</li>
			<li class="menu-card" id="heart">
				<a href="#" class="icoMenu" title="Heart">
		        <i class="fa fa-plane" aria-hidden="true"></i>
		        </a>
				<p class="menu-title">I do CSS & HTML</p class="menu-title">
				<p class="subtitle">For living</p>
				<p class="description">Lorem ipsume dolor sit amet consectetur adipsicing elit. Repudiandae suscipit vitae ipsum ab.</p>
			</li>
			<li class="menu-card" id="coffee">
				<a href="#" class="icoMenu" title="Coffee">
		        <i class="fa fa-plane" aria-hidden="true"></i>
		        </a>
				<p class="menu-title">La vida comienza</p class="menu-title">
				<p class="subtitle">después de un café</p>
				<p class="description">Detrás de cada mujer exitosa hay una enorme cantidad de café.</p>
			</li>
			<li class="menu-card" id="food">
				<a href="#" class="icoMenu" title="Food">
		        <i class="fa fa-plane" aria-hidden="true"></i>
		        </a>
				<p class="menu-title">Platito de Comida</p class="menu-title">
				<p class="subtitle">Ñam ñam</p>
				<p class="description">Todo lo que hay en esta sala es comestible. Hasta yo lo soy. Pero es sería canibalismo queridos niños, y está mal visto en la mayoria de las sociedades.</p>
			</li>
		</ul>
	<nav>
</body>
</html>
