<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width-device, initial=scale=1.0">
	<title>SPRINT 02 - EJERCICIOS PRÁCTICOS - EL TRÍPTICO</title>
	<link href="../css/monopoly.css" rel="stylesheet" type="text/css">
</head>
<body>
	<h1>EL TRÍPTICO</h1>
	<div class="card">
		<table>
			<thead>
			 <tr>
			 	<th colspan="6" class="title-center">El juego de mesa más vendido de la historia.</th>
			 </tr>
		 </thead>
		 <tbody>
		 			
		 				<td><p class="subtitle">Antes</p><p>Un juego creado con la función de servir como herramienta para enseñar las teoriás de la justicia social y económica extraídas del estudio títulado Progreso y Miseria de Henry George.<p><img src="../assets/images/monopoly01.png" alt="Monopoly Original" class="illustration">
		 				</td>
		 				<td id="center"><p class="subtitle-center">Monopoly</p class="center-parragraph"><p class="paddingdown">Comercializado por vez primera en el año de 1936.</p><p>A lo largo de 80 años, el juego ha sufrido una notable evolución. Sus múltiples ediciones y sus tantas versiones han dado pie a que se cambiara desde la caja que lo contiene hasta los elementos que lo componen. Logrando así, mantenerse como el favorito a través de las décadas.</p>
		 				</td>
		 				<td><p class="subtitle">Ahora</p><p>Con los años la finalidad del juego cambió para solo disfrutar un buen rato, negociando propiedades y hasta haciendo uso de medios electrónicos para todas las trnasacciones que requiere el juego.</p><img src="../assets/images/monopoly02.png" alt="Monopoly Moderno" class="illustration">
		 				</td>
				 <tr>
				 	<th colspan="6">Con información de <a href="">Gráffica.info</a>, información visual.</th>
				 </tr>

		 </tbody>
		</table>
	</div>
</body>
</html>
